In [ ]:
#Prima cosa che abbiamo notato è che la 3 collona al posto di 1 abbiamo 0 e alposto di 2 abbiamo 0.2, 0.4, 0.8. Poi la distanza è in cm o in metro?
#(livelli di altezza da 0 a 1, nel dataset originale), tolto 352 gia tolto 14, quindi il nostro è pulito.

In [44]:
import pandas as pd
df = pd.read_csv("LandMines.csv")

In [45]:
df.dtypes

V    float64
H    float64
S    float64
M      int64
dtype: object

In [46]:
df.head()

          V         H    S  M
0  0.338157  0.000000  0.0  1
1  0.320241  0.181818  0.0  1
2  0.287009  0.272727  0.0  1
3  0.256284  0.454545  0.0  1
4  0.262840  0.545455  0.0  1

In [47]:
df.columns

Index(['V', 'H', 'S', 'M'], dtype='object')

In [48]:
df.describe()

                V           H           S           M
count  338.000000  338.000000  338.000000  338.000000
mean     0.430634    0.508876    0.503550    2.952663
std      0.195819    0.306043    0.344244    1.419703
min      0.197734    0.000000    0.000000    1.000000
25%      0.309737    0.272727    0.200000    2.000000
50%      0.359516    0.545455    0.600000    3.000000
75%      0.482628    0.727273    0.800000    4.000000
max      0.999999    1.000000    1.000000    5.000000

In [49]:
df.isna().sum()

V    0
H    0
S    0
M    0
dtype: int64

In [50]:
pd.Categorical(df['V']).unique()

[0.338157, 0.320241, 0.287009, 0.256284, 0.262840, ..., 0.446284, 0.391178, 0.378157, 0.319939, 0.519637]
Length: 196
Categories (196, float64): [0.197734, 0.207945, 0.209818, 0.213097, ..., 0.957703, 0.975830, 0.993956, 0.999999]

In [51]:
#Forse è una standardizzazione da 0 a 1 al posto di 0 a 20 come descrito nel text. 
#Forse i dati sono stati normalizzati a 0 e 1 usando il min e max (formula: x_normalized = (x - min) / (max - min)).
pd.Categorical(df['H'])

[0.000000, 0.181818, 0.272727, 0.454545, 0.545455, ..., 0.909091, 0.181818, 0.454545, 0.727273, 1.000000]
Length: 338
Categories (12, float64): [0.000000, 0.090909, 0.181818, 0.272727, ..., 0.727273, 0.818182, 0.909091, 1.000000]

In [52]:
pd.Categorical(df['S'])

[0.0, 0.0, 0.0, 0.0, 0.0, ..., 0.4, 1.0, 1.0, 1.0, 1.0]
Length: 338
Categories (6, float64): [0.0, 0.2, 0.4, 0.6, 0.8, 1.0]

In [53]:
pd.Categorical(df['M'])

[1, 1, 1, 1, 1, ..., 5, 5, 5, 5, 5]
Length: 338
Categories (5, int64): [1, 2, 3, 4, 5]

In [54]:
df['V'].unique()

array([0.33815676, 0.32024133, 0.28700875, 0.25628362, 0.2628396 ,
       0.24096646, 0.25441049, 0.23492418, 0.35347392, 0.33534705,
       0.33002989, 0.30513561, 0.2356493 , 0.31534705, 0.28398761,
       0.30326248, 0.27492417, 0.26002989, 0.25981846, 0.26586074,
       0.32305104, 0.31419905, 0.30211447, 0.32326248, 0.27419905,
       0.34743163, 0.34169159, 0.29607218, 0.31039876, 0.31743163,
       0.32930477, 0.30815676, 0.3383682 , 0.29501498, 0.27199384,
       0.27190303, 0.29220528, 0.28534705, 0.99999873, 0.90634326,
       0.65860946, 0.61027115, 0.45317167, 0.44244654, 0.97582958,
       0.81570895, 0.65558832, 0.62839802, 0.50453112, 0.47431968,
       0.71903234, 0.62235573, 0.53172141, 0.43806595, 0.39879108,
       0.36253735, 0.91238555, 0.95770271, 0.75830721, 0.73413806,
       0.49525624, 0.46827739, 0.46734082, 0.85498382, 0.54984828,
       0.89123754, 0.80966666, 0.71601119, 0.50755226, 0.44410824,
       0.38930477, 0.36534705, 0.36857964, 0.31722019, 0.31909333,
       0.6132923 , 0.42598137, 0.38462193, 0.35649506, 0.35068536,
       0.34441049, 0.38972765, 0.25377617, 0.57401743, 0.47734082,
       0.48338311, 0.40785451, 0.3867065 , 0.36555849, 0.32628362,
       0.66465175, 0.5105734 , 0.39576993, 0.35274879, 0.35296023,
       0.56193285, 0.586102  , 0.4894254 , 0.35045277, 0.30649506,
       0.51359455, 0.50150997, 0.44108709, 0.40483337, 0.37764307,
       0.33066421, 0.30951621, 0.28125225, 0.27386698, 0.25646524,
       0.22752244, 0.20794532, 0.19773388, 0.24220528, 0.24033214,
       0.25586074, 0.23398761, 0.21309665, 0.59214429, 0.41691794,
       0.42296023, 0.33232591, 0.58308086, 0.3111779 , 0.27794532,
       0.22960701, 0.29002989, 0.55891171, 0.53474256, 0.44380599,
       0.3950448 , 0.41918414, 0.4228396 , 0.3783682 , 0.37160078,
       0.34879108, 0.35368536, 0.29534705, 0.47129853, 0.38368536,
       0.35087565, 0.34138934, 0.49546768, 0.41087565, 0.26888189,
       0.25024133, 0.36586074, 0.32607218, 0.29377617, 0.24471273,
       0.29658587, 0.27471273, 0.28096646, 0.31700875, 0.25909333,
       0.2883682 , 0.78851865, 0.43921396, 0.72507463, 0.45015053,
       0.48036197, 0.71299005, 0.85196267, 0.99395644, 0.77945522,
       0.37462193, 0.31555849, 0.30368536, 0.49244654, 0.3747065 ,
       0.35607218, 0.43202366, 0.38066421, 0.75226492, 0.52265798,
       0.35951621, 0.42347392, 0.33368536, 0.2717824 , 0.24199384,
       0.22700875, 0.26377617, 0.22356473, 0.20981845, 0.4622351 ,
       0.4138968 , 0.54078484, 0.506102  , 0.40181222, 0.36900252,
       0.3628396 , 0.44628362, 0.3911779 , 0.37815676, 0.31993909,
       0.51963684])

In [55]:
df_index = df.set_index("M")
df_index

           V         H    S
M
1   0.338157  0.000000  0.0
1   0.320241  0.181818  0.0
1   0.287009  0.272727  0.0
1   0.256284  0.454545  0.0
1   0.262840  0.545455  0.0
..       ...       ...  ...
5   0.323262  0.909091  0.4
5   0.444108  0.181818  1.0
5   0.353474  0.454545  1.0
5   0.362537  0.727273  1.0
5   0.314199  1.000000  1.0

[338 rows x 3 columns]

338